
jerryai/Question_1/.RData
jerryai/Question_1/.Rhistory
jerryai/Question_2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
jerryai/Question_2/disjointed_interval.py
jerryai/Question_2/disjointed_interval.py
jerryai/Question_2/disjointed_interval.py
jerryai/readme.md
jerryai/Jerry.ai_Data_Analysis_and_Coding_Questions.pdf
jerryai/Question_1/data_analysis.xlsx
jerryai/Question_1/divisions.csv
jerryai/Question_2/disjointed_interval.js
jerryai/Question_2/disjointed_interval.txt
jerryai/Question_1/rfm.R
BEWorks/.RData
BEWorks/.RData
BEWorks/BeWorks.R
